<table class = "table">
  <thead>
    <th>Mã sản phẩm</th>
    <th>Tên(VN)</th>
    <th>Tên(ENG)</th>
    <th>ĐVT</th>
    <th>Loại</th>
    <th>Danh mục</th>
    <th>Giá</th>
  </thead>
  <tbody>
    {% for index,product in products %}
      <tr>
        <td>{{product.code}}</td>
        <td>{{product.name_vi}}</td>
        <td>{{product.name_en}}</td>
        <td>{{product.unit}}</td>
        <td>{{product.type}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
