<table class = "table">
  <thead>
    <th>Mã sản phẩm</th>
    <th>Tên(VN)</th>
    <th>Tên(ENG)</th>
    <th>ĐVT</th>
    <th>Loại</th>
    <th>Danh mục</th>
    <th>Giá</th>
    <th>Ghi chú</th>
  </thead>
  <tbody>
    {% for index,product in products %}
      <tr>
        <td>{{product.A}}</td>
        <td>{{product.B}}</td>
        <td>{{product.C}}</td>
        <td>{{product.D}}</td>
        <td>{{product.E}}</td>
        <td>{{product.F}}</td>
        <td>{{product.G}}</td>
        <td>{{product.notes}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
