{% extends 'base.html.twig' %}
{% block title %}
Thêm gói dịch vụ cho khách khách hàng
{% endblock %}

{% block body %}
<div id="wrapper">

   <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h2>Thêm gói dịch vụ</h2>
            <h3>Nhóm: "{{row['name']}}"</h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ form|raw}}
          <input type = "hidden" id = "members" value = {{row['members']}} />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="center-block width200">
            <a class="btn btn-primary" href="#" id="btnsave"> Save </a> <a class="btn btn-default" href="{{ path('group_list')}}" id="btnback"> Back </a>
          </div>
        </div>
      </div>

   </div>

</div>
{% endblock %}

{% block javascripts %}
<script>
validation['packageid'] = {minvalue:1, message: 'Chọn gói dịch vụ'};
validation['efffrom'] = {jsfunction:function(){
  if (cakefffrom.get() < 1){
    return "Chọn ngày bắt đầu"
  }
  if (cakeffto.get() < cakefffrom.get()) return "Ngày kết thúc không nhỏ hơn ngày bắt đầu";
  return '';
}};

jQuery(function(){
  {{script|raw}}
  $('.numeric').intOnly();
  tkpackageid.callback(function(){
    if (tkpackageid.get() == ''){
    $('#f_memberpackage')[0].reset();
    return
    }
    ajaxGet('/package/formapi?op=getpackage&id=' + tkpackageid.get(), function(data){
      if (data && data.id){
        var members = $('#members').val();
        $('#maxvisitors').val(formatNum(members * 6));
        $('#maxprintpapers').val(formatNum(data.maxprintpapers * members));
        $('#maxdays').val(formatNum(data.maxdays * members));
        $('#maxmeetinghours').val(formatNum(data.maxmeetinghours));
        $('#maxhours').val(formatNum(data.maxhours * members));
        $('#discountbar').val(formatNum(data.discountbar));
        $('#price').val(formatNum(data.price * members));

        $('input[name="allowcredit"][value='+data.allowcredit+']').click();
        $('input[name="locker"][value='+data.locker+']').click();
      }
    })
  })
  $('#btnsave').click(function(e){
    e.preventDefault();
    beforePost() && ajaxPost('/group/addpackage-ajax?group={{id}}', $('#f_group_package').serialize(), function(d){});
  })
})


</script>
{% endblock %}

