{% extends 'base.html.twig' %}
{% block title %}Toong - Thêm nhóm{% endblock %}
{% block body %}
  <div class = "container">
    <div class="row">
      <div class="col-md-12">
        <h1 class = "page-title">Thêm</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ form|raw}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="center-block width200">
          <a href = "#" class = "btn btn-primary btn-submit">Save</a>
          <a href = "{{ path('group_list') }}" class = "btn btn-default">Back</a>
        </div>
      </div>
    </div>
    {% if gid is defined %}
    <div class="row">
      <h3>Lịch sử</h3>
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="width50">#</th>
              <th>Activity</th>
              <th>Old value</th>
              <th>New value</th>
              <th>Amount</th>
              <th>Note</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody id="listactivity">
            <tr>
              <th colspan="7" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/group.js') }}" type = "text/javascript"></script>
  <script id="template_table" type="text/x-handlebars-template">
  <%#list%>
    <tr>
    <td><%idx%></td>
    <td><%name%></td>
    <td><%oldvalue%></td>
    <td><%newvalue%></td>
    <td><%amount%></td>
    <td><%note%></td>
    <td><%time%></td>
    </tr>
  <%/list%>
  </script>
  <script src="{{asset ('js/handlebars.min.js')}}"></script>
  <script>
  {{script|raw}}
  </script>
  <script>
    jQuery(function(){
      // Validation group
      $('.numeric').intOnly();
      validation['members'] = {minvalue:2, message: 'Nhập số thành viên, lớn hơn 2'};
      validation['name'] = {minlength:1, message: 'Nhập tên nhóm!'};
      // Add/Update group.
      $('.btn-submit').click(function(e){
        e.preventDefault();
        if (beforePost() == true) {
          ajaxPost('/group/ajax-action', $('#f_group').serialize(), function(d){})
        }
      });

      if ($('#id').length) {
        var id = $('#id').val();
        ajaxGet('/group/' + id + '/activity', function(data){
          if (!data.empty){
            console.log(data);
            $('#listactivity').html(mr( $('#template_table').html(), {list:data}))
          } else {
            $('#listactivity').html('<tr><th colspan="7" class="text-center">'+ data.empty + '</th></tr>');
          }
        });
      }
    })
  </script>
{% endblock %}
