{% extends 'base.html.twig' %}
{% block title %}Toong - Nhóm{% endblock %}

{% block body %}
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h1>Danh sách nhóm</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" method="post" id="f_groupsearch">
          {{form|raw}}
        </form>
      </div>
      <div class="col-md-12">
        <div class="center-block width200">
          <a class="btn btn-info" href="#" id="btnsearch"> Tìm kiếm </a>
        </div>
      </div>
    </div>
    <div class="row"><div class="height20"></div></div>
    <div class = "row">
      <div class = "col-md-12">
        <table class = "table table-bordered">
          <thead>
            <th>#</th>
            <th>Tên nhóm</th>
            <th>Địa chỉ</th>
            <th>Điện thoại</th>
            <th>Mã số thuế</th>
            <th>Địa chỉ thuế</th>
            <th>Mô tả</th>
            <th>Số thành viên</th>
            <th></th>
          </thead>
          <tbody id = "list-group">
            <th colspan="9" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th>
          </tbody>
        </table>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-12">
        <div class="center-block width200">
          <a class = "btn btn-primary" href = "{{ path('group_add') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thêm</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script id="template_table" type="text/x-handlebars-template">
  <%#list%>
    <tr>
    <th><%idx%></th>
    <td><%name%></td>
    <td><%address%></td>
    <td><%phone%></td>
    <td><%taxcode%></td>
    <td><%taxaddress%></td>
    <td><%description%></td>
    <td><%members%></td>
    <td>
      <a href="/group/edit/<%id%>">Sửa</a> |
      <%#if packageid%>
        <a href="/group/editpackage/<%id%>">Thay đổi</span></a>
      <%else%>
        <a href="/group/addpackage/<%id%>">Thêm gói</span></a>
      <%/if%> |
      <a href="#" class="deleterow" data-id="<%id%>"> Vô hiệu </a>
    </td>
    </tr>
  <%/list%>
  </script>

  <script>
    {{script|raw}}
  </script>
  <script src="{{asset ('js/handlebars.min.js')}}"></script>
  <script src="{{asset ('js/group.js')}}"></script>
  <script>
    jQuery(function(){
      // Search group.
      function doSearch(){
        ajaxPost('/group/search', $('#f_groupsearch').serialize(), function(data){
          if (!data.empty){
            console.log(data);
            $('#list-group').html(mr( $('#template_table').html(), {list:data}))
          } else {
            $('#list-group').html('<tr><th colspan="6" scope="row" class="text-center">'+ data.empty + '</th></tr>');
          }
        });
      }

      // Init doSearch().
      doSearch();

      $('#btnsearch').click(function(e){
        e.preventDefault();
        $('#list-group').html('<tr><th colspan="6" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th></tr>');
        doSearch();
      })

      $('#list-group').click(function(e){
        var $el = $(e.target);
        if ($el.hasClass('deleterow')){
          e.preventDefault();
          if (confirm('Bạn chắc chắn muốn vô hiệu nhóm này?'))
          ajaxPost('/group/delete', {id: $el.data('id')}, function(d){
            doSearch();
          });
        }
      })
    })
  </script>

{% endblock %}
