<table class = "table table-bordered">
  <thead>
    <th>#</th>
    <th>Tên nhóm</th>
    <th>Địa chỉ</th>
    <th>Điện thoại</th>
    <th>Mã số thuế</th>
    <th>Địa chỉ thuế</th>
    <th>Mô tả</th>
    <th>Số thành viên</th>
    <th></th>
  </thead>
  <tbody id = "list-group">
  {% for index,group in groups %}
  <tr>
    <th>{{index}}</th>
    <td>{{group.name}}</td>
    <td>{{group.address}}</td>
    <td>{{group.phone}}</td>
    <td>{{group.taxcode}}</td>
    <td>{{group.taxaddress}}</td>
    <td>{{group.description}}</td>
    <td>{{group.members}}</td>
    <td>
      <a href = "{{path('group_edit', {'id': group.id})}}"><span class = "glyphicon glyphicon-pencil"></span></a>|
      <a href = "{{path('group_add_package', {'id': group.id})}}">Thêm gói</a>
    </td>
  </tr>
  {% endfor %}
  <th colspan="9" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th>
  </tbody>
</table>
