{% extends 'base.html.twig' %}
{% block title %}Toong - Checking{% endblock %}

{% block body %}
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h1>Danh sách đăng ký vào</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <form class="form-horizontal" method="post" id="f_checkingsearch">
            {{form|raw}}
          </form>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-12">
        <div class = "col-md-6"><a class="btn btn-info" href="#" id="btnsearch"> Tìm kiếm </a></div>
        <div class = "col-md-6"><a class="btn btn-info pull-right" href="{{path('checkout_all')}}"> Checkout all </a></div>
      </div>
    </div>
    <div class="row"><div class="height20"></div></div>
    <div class = "row">
      <div class = "col-md-12">
        <table class = "table table-bordered">
          <thead>
            <th>#</th>
            <th>Thành viên</th>
            <th>Tên khách</th>
            <th>Giờ check in</th>
            <th>Giờ check out</th>
            <th>Gói</th>
            <th>Thao tác</th>
          </thead>
          <tbody id = "list-checking">
            {% for index,timelog in timelogs %}
            <tr>
              <th>{{index}}</th>
              <td><a href = "{{ path('customer_history', {'id': timelog.memberid}) }}">{{timelog.membername}}</a></td>
              <td>{{timelog.visitorname}}</td>
              <td>{{timelog.checkin|date("m/d/Y H:i")}}</td>
              {% if 0 != timelog.checkout %}
                <td>{{timelog.checkout|date("m/d/Y H:i")}}</td>
              {% else %}
                <td>Chưa check out.</td>
              {% endif %}
              <td>{{timelog.packagename}}</td>
              <td>
              {% if 0 == timelog.checkout %}
                {% if '' !=  timelog.visitorname %}
                  <a href = "{{ path('visitor_checking') }}?op=checkout&id={{timelog.id}}">Check out</a>
                {% else %}
                  <a href = "{{ path('member_checking') }}?op=checkout&id={{timelog.id}}">Check out</a>
                {% endif %}
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script id="template_table" type="text/x-handlebars-template">
  <%#list%>
    <tr>
    <th><%idx%></th>
    <td><a href = "/customer/<% memberid %>/history"><%name%></a></td>
    <td><%visitorname%></td>
    <td><%checkin%></td>
    <td><%checkout%></td>
    <td><%packagename%></td>
    <td>
      <a href = "/<%type%>/checking?op=checkout&id=<%id%>">Check out</a>
    </td>
    </tr>
  <%/list%>
  </script>

  <script>
    {{script|raw}}
  </script>
  <script src="{{asset ('js/handlebars.min.js')}}"></script>
  <script>
    jQuery(function(){

      function doSearch(){
        ajaxPost('/checking/search', $('#f_checkingsearch').serialize(), function(data){
          if (!data.empty){
            console.log(data);
            $('#list-checking').html(mr( $('#template_table').html(), {list:data}))
          } else {
            $('#list-checking').html('<tr><th colspan="7" scope="row" class="text-center">'+ data.empty + '</th></tr>');
          }
        });
      }

      $('#btnsearch').click(function(e){
        e.preventDefault();
        $('#list-checking').html('<tr><th colspan="7" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th></tr>');
        doSearch();
      })
    })
  </script>
{% endblock %}
